*{
    box-sizing: border-box;
    margin: 0;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 auto;
}
#mainContainer{
    width: 100%;
    height: auto;
}
#container{
    width: 70%;
    margin:  0 auto;
    display: grid;
    grid-template-columns: 45% 45%;
    grid-template-rows: auto;
    column-gap: 15px; 
    row-gap: 15px;
}

#wrapper{
    width: 100%;
    height: 100%;
    border: 1px solid grey;
}

#comentWrapper{    
    grid-template-rows: 100px;
    position: relative;
    top: 10px;
    height: 100px;
    overflow: hidden;
    margin: 0 auto;
    width: 95%;
}
.profile img{
    width: 50px;
    height: 50px;
    border-radius: 100px;
    margin-left: 10px;
    margin-top: 10px;
}
.fullName {
    position: relative;
    top: -4%;
    right: 29%;
}
.dateBirth > span{
    position: relative; 
    font-size: small;
}
.cover{
    position: relative;
    top: 1%;
    left: 3%;
}
.cover >img {
    width: 94%;
    height: 50%;
    position: relative;
    margin: 0 auto;
}
.instaImg {
    position: relative;
    float:right;
    right: 5px;
    top: 5px;
}
.heartImg {
    position: relative;
    border-top: 1px solid #b9b4b4;
    width: 94%;
    padding-top: 5px;
    padding-left: 2px;
    top: 14%;
}
.likes {
    position: relative;
    left: 10px;
    top: -2px;    
    
}

.loadFourMore{
    margin: 0 auto;
    width: 16%;
    height: 50px;
    margin-top: 37px;
    margin-bottom: 35px;
    margin-left: 38%;
}
@media screen and (max-width: 1440px) {
        
    #container {
        position: relative;
        margin-top: 150px;
        width: 90%;
        grid-template-columns: 23% 23% 23% 23%;
        column-gap: 3%;
    }
    .fullName {    
        right: 96px;
        top: -25px;
    }
    #wrapper {
        height: 600px;
    }

    @media screen and (max-width: 992px) {
        #container{
            width: 70%;
            margin:  0 auto;
            display: grid;
            grid-template-columns: 45% 45%;
            grid-template-rows: auto;
            column-gap: 15px; 
            row-gap: 15px;
        }
        #wrapper {
            width: 100%;
            height: 600px;
            
            grid-template-columns: 45% 45%;
            border: 1px solid grey;
        }
        .fullName {
            right: 32%;
        }
    }
    

    @media screen and (max-width: 768px) {
        
        #container{
            width: 55%;
            margin:  0 auto;
            display: flex;
            flex-direction: column;
        }
        .cover > img {
            width: 94%;
            height: 272px;
        }
        .fullName {    
            right: 98px;
            top: -19px;
        }
        #comentWrapper {
            position: relative;
            top: 10px;
            height: 270px;
            overflow: hidden;
            margin: 0 auto;
            width: 91%;
        }
        .heartImg{
            top: -10%;
        }
    }



}





    



